<% if @tp.menu('Footer Menu').any? %>
  <nav class="mb-5 footer-menu">
    <ul>
      <% @tp.menu('Footer Menu').each do |menu_item, _| %>
        <li>
          <a href="<%= menu_item.path(current_language) %>"><%= @tp.t(menu_item).name %></a>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>