<%
    content_for :title, _('Redirects | %{client}') % { client: current_client.name }
    content_for :description, _('Redirects of %{client}') % { client: current_client.name }
%>

<article class="card">
  <header class="card-header">
    <h1 class="card-header-title">
      <i class="fa-solid fa-location-arrow"></i>
      &nbsp;
      <%= _('Redirects') %>
    </h1>
  </header>
  <div class="card-content">
    <div class="smart-table" id="redirects-smart-table" data-use-history="true">
      <%= render partial: 'admin/redirects/redirects_table' %>
    </div>
  </div>
</article>