<% content_for :meta do %>
  <%= render partial: "templates/#{current_client.template}/pages/meta" %>
<% end %>

<article>
  <header class="mb-5">
    <%= render partial: "templates/#{current_client.template}/pages/breadcrumb" %>
    <h2 class="title is-4"><%= @tp.t(@model).name %></h2>
  </header>
  <div class="content mb-5"><%= @tp.t(@model).body&.html_safe %></div>
</article>