<% page = [params[:page].to_i, 1].max %>

<% content_for :meta do %>
  <%= render partial: "templates/#{current_client.template}/pages/meta", locals: { page: page } %>
<% end %>

<article>
  <header class="is-sr-only">
    <h2><%= @tp.t(@model).name %></h2>
  </header>

  <% client_cache ['IndexPagePosts', page] do %>
    <% posts = @tp.posts.includes(:image_attachment).order(published_at: :desc, id: :desc).page(page).per(10) %>
    <%= render partial: "templates/#{current_client.template}/shared/post_list", locals: { posts: posts } %>
  <% end %>
</article>