<% content_for :meta do %>
  <%= render partial: "templates/#{current_client.template}/pages/meta" %>
<% end %>

<article class="has-text-centered">
  <header class="mb-5">
    <span class="circular-warning mx-auto mb-5">500</span>
    <h2 class="title is-4"><%= @tp.t(@model).name %></h2>
  </header>
  <div class="content mb-5"><%= @tp.t(@model).body&.html_safe %></div>
</article>