@import "./variables";
@import "~bulma/bulma";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~toastr";
@import "~flag-icons/sass/flag-icons.scss";
@import "./cards";
@import "./labels";
@import "./page_footer";
@import "./notifications";
@import "./tables";

html {
  overflow-y: auto;
}

html,
body {
  background: $white-ter;
}

.navbar-brand {
  font-weight: bold;
}

main {
  padding: 32px;
}

.image-uploader {
  &.without-image {
    .show-on-image {
      display: none;
    }
  }

  &.with-image {
    .hide-on-image {
      display: none;
    }
  }
}

.logo-header {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.min-width-input {
  min-width: 100px;
}

.field.has-addons .control button:has(.fas) {
  height: 100%;
}

.bd-example:not(:last-child), .bd-options:not(:last-child), .bd-pills:not(:last-child), .bd-snippet:not(:last-child),
.bd-tabs:not(:last-child), .block:not(:last-child), .box:not(:last-child), .breadcrumb:not(:last-child),
.buttons:not(:last-child), .card:not(:last-child), .content:not(:last-child), .field:not(:last-child),
.file:not(:last-child), .fixed-grid:not(:last-child), .grid:not(:last-child), .level:not(:last-child),
.media:not(:last-child), .message:not(:last-child), .notification:not(:last-child), .pagination:not(:last-child),
.progress:not(:last-child), .skeleton-block:not(:last-child), .subtitle:not(:last-child),
.table-container:not(:last-child), .table:not(:last-child), .tabs:not(:last-child),
.tags:not(:last-child), .title:not(:last-child) {
  margin-bottom: var(--bulma-block-spacing);
}

@media screen and (min-width: 769px),
print {
  .dropdown.is-right-tablet {
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
}