@import "./variables";
@import "~bulma/bulma";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~toastr";
@import "~flag-icons/sass/flag-icons.scss";
@import "./cards";
@import "./labels";
@import "./page_footer";
@import "./notifications";
@import "./tables";

html {
  overflow-y: auto;
}

html,
body {
  background: $white-ter;
}

.navbar-brand {
  font-weight: bold;
}

main {
  padding: 32px;
}

.image-uploader {
  &.without-image {
    .show-on-image {
      display: none;
    }
  }

  &.with-image {
    .hide-on-image {
      display: none;
    }
  }
}

@media screen and (min-width: 769px), print {
  .dropdown.is-right-tablet {
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
}
