version: "3.8"

services:
  mariadb:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_USER: pandemiccms
      MYSQL_PASSWORD: 1234
      MYSQL_DATABASE: pandemiccms
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./docker/mariadb/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
  redis:
    image: redis
    command: redis-server --requirepass 1234
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.13.2
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
      - xpack.security.enabled=true
      - "ELASTIC_PASSWORD=1234"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9300:9300
  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - "1080:1080"
      - "1025:1025"
  pandemiccms:
    build:
      context: .
    environment:
      RAILS_ENV: production
      RAILS_SERVE_STATIC_FILES: 1
      RAILS_MASTER_KEY: 0fa8098c8e652a8a7c2bb448bb11ff54
    volumes:
      - log_data:/app/logs
      - storage_data:/app/storage
    ports:
      - "3000:3000"
    depends_on:
      - mariadb
      - redis
  sidekiq:
    build:
      context: .
      dockerfile: ./docker/sidekiq/Dockerfile
    environment:
      RAILS_ENV: production
      RAILS_SERVE_STATIC_FILES: 1
      RAILS_MASTER_KEY: 0fa8098c8e652a8a7c2bb448bb11ff54
    volumes:
      - log_data:/app/logs
      - storage_data:/app/storage
    depends_on:
      - mariadb
      - redis
volumes:
  mariadb_data:
  redis_data:
  elasticsearch_data:
  log_data:
  storage_data:
