@import "bulma/sass/utilities/initial-variables";

.card {
  box-shadow: none;
  border: solid 1px $grey-lighter;
  overflow: initial;

  > .card-header {
    box-shadow: none;
    border-bottom: solid 1px $grey-lighter;

    .dropdown-menu {
      top: calc(100% - 0.75rem);
    }
  }

  @media screen and (min-width: 769px), print {
    .half-horizontal-form {
      .field-label {
        flex-grow: 2;
      }
    }
  }
}
