@use "bulma/sass/utilities" as bulmaV;

.flash-error,
.flash-success {
  display: none;
}

.toast-error {
  background-color: bulmaV.$red;
}

.toast-success {
  background-color: bulmaV.$green;
}

.notification ul {
  list-style-type: disc;
  list-style-position: inside;
}
