@import "bulma/sass/utilities/initial-variables";

.flash-error,
.flash-success {
  display: none;
}

.toast-error {
  background-color: $red;
}

.toast-success {
  background-color: $green;
}

.notification ul {
  list-style-type: disc;
  list-style-position: inside;
}
