<footer>
  &copy; <%= Time.now.year %> <%= current_client.name %>
</footer>

<% if alert %>
<p class="flash-error"><%= alert %></p>
<% end %>
<% if notice %>
<p class="flash-success"><%= notice %></p>
<% end %>