@import "./variables";
@import "~bulma/bulma";
@import "~flag-icon-css/sass/flag-icon";

html,
body {
  background: $grey-lighter;
}

.navbar.is-dark .navbar-dropdown a.navbar-item.is-active {
  background-color: $white-bis;
  color: $link;
}

main {
  background-color: $white-bis;
}

body > footer {
  background-color: $dark;
  color: $white;
  position: relative;
  font-size: 0.8rem;
  padding: 1.5rem 1.5rem 6rem;

  a,
  a:hover,
  a:focus,
  a:visited {
    color: $white;
  }

  a:hover {
    text-decoration: underline;
  }
}
