@import "./variables";
@import "~bulma/bulma";
@import "~flag-icon-css/sass/flag-icon";

html,
body {
  background: $dark;
}

.navbar.is-dark .navbar-dropdown a.navbar-item.is-active {
  background-color: $white-bis;
  color: $link;
}

main {
  background-color: $grey-lighter;

  > .container {
    background-color: $white-bis;
    padding: 0 0.75rem;
  }
}

body > footer {
  background-color: $dark;
  color: $white;
  position: relative;
  font-size: 0.8rem;
  padding: 1.5rem 1.5rem 6rem;
  text-align: center;

  a,
  a:hover,
  a:focus,
  a:visited {
    color: $white;
  }

  a:hover {
    text-decoration: underline;
  }
}

.circular-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $warning;
  font-weight: bold;
  font-size: 3rem;
}

.tag-list {
  display: inline;

  ul,
  li {
    display: inline;
  }

  li::after {
    content: ", ";
  }

  li:last-child::after {
    content: "";
  }
}

.footer-menu {
  display: inline-block;

  ul,
  li {
    display: inline;
  }

  li::after {
    content: "|";
  }

  li:last-child::after {
    content: "";
  }
}

.no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  font-size: 5rem;
  font-weight: bold;
  background-color: $grey-lighter;

  &::after {
    content: "?";
  }
}
