<p><%= _('Welcome %{email}!') % { email: @email } %></p>

<p><%= _('You can confirm your account email through the link below:') %></p>

<p><%= link_to _('Confirm my account'), confirmation_url(@resource, confirmation_token: @token) %></p>