@import "./variables";
@import "~bulma/bulma";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "toastr";

.navbar-brand {
  font-weight: bold;
}

.small-form {
  max-width: 1000px;
  margin: auto;
}

main {
  padding: 32px;
}

h1 {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

body > footer {
  text-align: center;
  padding-top: 50px;
}

.required-label::after {
  color: $red;
  content: " *";
}

.bb-grey-1 {
  border-bottom: solid 1px $grey-lighter;
}

.smart-table {
  th {
    a {
      display: block;
    }
  }
}

.upload-button-form {
  display: inline-block;
  position: relative;

  input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    opacity: 0;
  }
}

.flash-error,
.flash-success {
  display: none;
}

.toast-error {
  background-color: $red;
}

.toast-success {
  background-color: $green;
}
