<%
    content_for :title, _('Tags | %{client}') % { client: current_client.name }
    content_for :description, _('Tags of %{client}') % { client: current_client.name }
%>

<article class="card">
  <header class="card-header">
    <h1 class="card-header-title">
      <i class="fas fa-tag"></i>
      &nbsp;
      <%= _('Tags') %>
    </h1>
  </header>
  <div class="card-content">
    <div class="smart-table" id="tags-smart-table" data-use-history="true">
      <%= render partial: 'admin/tags/tags_table' %>
    </div>
  </div>
</article>