<%
    content_for :title, _('Posts | %{client}') % { client: current_client.name }
    content_for :description, _('Posts of %{client}') % { client: current_client.name }
%>

<article class="card">
  <header class="card-header">
    <h1 class="card-header-title">
      <i class="fas fa-file"></i>
      &nbsp;
      <%= _('Posts') %>
    </h1>
  </header>
  <div class="card-content">
    <div class="smart-table" id="posts-smart-table" data-use-history="true">
      <%= render partial: 'admin/posts/posts_table' %>
    </div>
  </div>
</article>