@use "bulma/bulma";
@use "bulma/sass/utilities" as bulmaV;
@use '@fortawesome/fontawesome-free/scss/variables' with (
  $font-path: "@fortawesome/fontawesome-free/webfonts",
);
@use "@fortawesome/fontawesome-free/scss/fontawesome";
@use "@fortawesome/fontawesome-free/scss/solid";
@use "flag-icons/sass/flag-icons.scss" with (
  $flag-icons-path: "flag-icons/flags",
);

html,
body {
  background: bulmaV.$dark;
}

.navbar.is-dark .navbar-dropdown a.navbar-item.is-active {
  background-color: bulmaV.$white-bis;
  color: bulmaV.$link;
}

.hero-body a {
  color: bulmaV.$white;
}

main {
  background-color: bulmaV.$grey-lighter;

  > .container {
    background-color: bulmaV.$white-bis;
    padding: 0 0.75rem;
  }
}

body > footer {
  background-color: bulmaV.$dark;
  color: bulmaV.$white;
  position: relative;
  font-size: 0.8rem;
  padding: 1.5rem 1.5rem 6rem;
  text-align: center;

  a,
  a:hover,
  a:focus,
  a:visited {
    color: bulmaV.$white;
  }

  a:hover {
    text-decoration: underline;
  }
}

.circular-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: bulmaV.$warning;
  font-weight: bold;
  font-size: 3rem;
}

.tag-list {
  display: inline;

  ul,
  li {
    display: inline;
  }

  li::after {
    content: ", ";
  }

  li:last-child::after {
    content: "";
  }
}

.footer-menu {
  display: inline-block;

  ul,
  li {
    display: inline;
  }

  li::after {
    content: "|";
  }

  li:last-child::after {
    content: "";
  }
}

.no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  font-size: 5rem;
  font-weight: bold;
  background-color: bulmaV.$grey-lighter;
  color: bulmaV.$grey-dark;

  &::after {
    content: "?";
  }
}

.pagination {
  margin-top: 1.5rem;
}

.bd-example:not(:last-child), .bd-options:not(:last-child), .bd-pills:not(:last-child), .bd-snippet:not(:last-child),
.bd-tabs:not(:last-child), .block:not(:last-child), .box:not(:last-child), .breadcrumb:not(:last-child),
.buttons:not(:last-child), .card:not(:last-child), .content:not(:last-child), .field:not(:last-child),
.file:not(:last-child), .fixed-grid:not(:last-child), .grid:not(:last-child), .level:not(:last-child),
.media:not(:last-child), .message:not(:last-child), .notification:not(:last-child), .pagination:not(:last-child),
.progress:not(:last-child), .skeleton-block:not(:last-child), .subtitle:not(:last-child),
.table-container:not(:last-child), .table:not(:last-child), .tabs:not(:last-child),
.tags:not(:last-child), .title:not(:last-child) {
  margin-bottom: var(--bulma-block-spacing);
}
