@import "./variables";
@import "~bulma/bulma";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~toastr";
@import "~flag-icon-css/sass/flag-icon.scss";
@import "./cards";
@import "./labels";
@import "./page_footer";
@import "./notifications";
@import "./tables";

html {
  overflow-y: auto;
}

html,
body {
  background: $white-ter;
}

.navbar-brand {
  font-weight: bold;
}

main {
  padding-top: 32px;
}

.upload-button-form {
  display: inline-block;
  position: relative;

  input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    opacity: 0;
  }
}

.image-uploader {
  &.without-image {
    .show-on-image {
      display: none;
    }
  }

  &.with-image {
    .hide-on-image {
      display: none;
    }
  }
}
